<div class="retailers-wrapper well-beings-font">
  <div class="row">
    <div class="col-md-4">
      <h1 class="product-header">Retailers</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p class="well-beings-font">Shoppers Drug Mart<br />7 Clair Rd W, Guelph, On N1L 0A6</p>
      <iframe width="400"
              height="250"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBnr2e-3gaXpGB1egaGuYJO9Syu1-GnhZY
    &q=Shoppers+Drug+Mart+clair+road,Guelph+ON" allowfullscreen>
      </iframe>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <p class="well-beings-font">Goodness Me! Natural Food Market<br />36 Wellington St W, Guelph, ON N1H 4H7</p>
      <iframe width="400"
              height="250"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBnr2e-3gaXpGB1egaGuYJO9Syu1-GnhZY
    &q=Rowefarms,Guelph+ON" allowfullscreen>
      </iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p class="well-beings-font">Rowe Farms - Guelph<br />1027 Gordon St, Guelph, ON N1G 4X1</p>
      <iframe width="400"
              height="250"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBnr2e-3gaXpGB1egaGuYJO9Syu1-GnhZY
    &q=goodnessme,Guelph+ON" allowfullscreen>
      </iframe>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <p class="well-beings-font">Angelino's Fresh Choice Market<br />16 Stevenson St S, Guelph, ON N1E 5N1</p>
      <iframe width="400"
              height="250"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBnr2e-3gaXpGB1egaGuYJO9Syu1-GnhZY
    &q=angelinos,Guelph+ON" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
